.header {
	border-bottom: 1px solid #1DBE60;
	position: relative;
	background: white;
	@media (max-width: 768px) {
		z-index: 15;
	}
}

.decor {
	background: black;
}

.decor-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: white;
	padding: 8px 0;
	@media (max-width: 710px) {
		justify-content: center;
	}
}

.phone {
	display: flex;
	align-items: center;
	gap: 16px;
	@media (max-width: 710px) {
		display: none;
	}
}

.lists {
	display: flex;
	align-items: center;
	gap: 64px;
	@media (max-width: 710px) {
		width: 100%;
		gap: 4px;
		justify-content: space-between;
	}
}

.header-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 27px 0;
	
	gap: 20px;
	@media (max-width: 705px) {
		flex-wrap: wrap;
	}
	@media (max-width: 768px) {
		padding: 16px 0;
	}
}

.header-logo {
	display: flex;
	align-items: center;
	gap: 48px;
	@media (max-width: 768px) {
		gap: 24px;
	}
}

.logo {
	display: flex;
	gap: 24px;
	width: 132px;
	height: 40px;
	@media (max-width: 768px) {
		width: 96px;
		height: 32px;
	}
}

.logo > img {
	width: 100%;
	height: 100%;
}



.header-icons {
	width: 240px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 21px;
}

.header-icons > span {
	width: 1px;
	height: 100%;
	background: #262D291A;
	opacity: 0.3;
}

.burger-menu {
	display: none;
}

@media (max-width: 768px) {
	.header-catalog,
	.header-lang,
	.header-search,
	.header-icons {
		display: none;
	}
	.burger-menu {
		display: block;
	}
	.header-icons-mobil {
		display: flex !important;
	}
}

.header-icons-mobil {
	display: none;
	align-items: center;
	height: 28px;
	gap: 20px;
}

.btn {
	width: 25px;
	height: 25px;
	mask: url("../../public/svg/burger-menu.svg");
	background: #1DBE60;
}

.header-icons-mobil > span {
	width: 1px;
	height: 100%;
	background: #262D291A;
	opacity: 0.3;
}

.mobile-menu {
	position: absolute;
	top: 100px;
	left: -1900px;
	width: 100%;
	background: white;
	z-index: 20;
	height: 100%;
	visibility: hidden;
	transition: all 0.3s ease;
	padding: 20px 15px 0;
}

.mobile-menu > button {
	box-shadow: 4px 4px 12px 0 #00000033;
}

.active {
	left: 0;
	visibility: visible;
	transition: all 0.2s ease;
}

.mobile-lists {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.mobile-lists > li:hover > a >  svg > path {
	stroke: #1DBE60;
	transition: all 0.2s ease;
}

.mobile-lists > li:hover, .mobile-lists > li > a.active {
	color: #1DBE60;
}
.mobile-lists > li:hover svg path, .mobile-lists > li > a.active svg path {
	stroke: #1DBE60;
}

.mobile-lists > li:hover {
	color: #1DBE60;
}

.mobile-lists > li {
	padding: 8px 0;
	color: #262D2999;
}

.mobile-lists > li > a {
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	display: flex;
	align-items: center;
	gap: 12px;
}