.add-products {
	margin-top: 36px;
}

.add-products-steps {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 40px;

}

.add-products-step {
	font-size: 18px;
	font-weight: 500;
	line-height: 120%;
	text-align: center;
	cursor: pointer;
}
.add-products-step:after{
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background: #D9D9D9;
	margin-top: 16px;
}

.add-products-step-active:after {
	transition: all 0.3s ease;
	background: #00C48C;
	height: 2px;
}



.add-products-form {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	margin-bottom: 24px;
	@media (max-width: 768px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.add-products-form > div {
	padding: 24px;
}

.add-products-form > div > h1 {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
	color: #262D2999;
	margin-bottom: 21px;
}

.add-products-desc > div {
	padding: 24px;
}

.add-products-desc > div > h1 {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
	color: #262D2999;
	margin-bottom: 16px;
}

.add-products-desc-footer {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	font-size: 14px;
	font-weight: 300;
	line-height: 100%;
}

.add-products-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

.add-products-desc > div textarea {
	height: 155px;
	resize: none;
	@media (max-width: 768px) {
		height: 410px;
	}
}

.stage2 {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.stage2-detail {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.stage2-box {
	border: 1px solid #1DBE6099;
	padding: 40px 24px;
	display: flex;
	flex-direction: column;
}

.stage2-box-inputs {
	display: flex;
	align-items: center;
	gap: 24px;
	margin-bottom: 24px;
}

.stage2-box-inputs  label > span {
	margin-left: 24px;
	color:  #262D2999;
}

.stage2-box-inputs-color {
	width: 100%;
	max-width: 452px;
}

.stage2-box-inputs-model {
	width: 100%;
	max-width: 452px;
}

.stage2-box-inputs-quantity {
	width: 100%;
	max-width: 200px;
}

.stage2-box-inputs-price {
	width: 100%;
	max-width: 200px;
	display: flex;
	align-items: flex-end;
	gap: 8px;
}

.stage2-box-inputs-price input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.stage2-box-inputs-price > button {
	justify-content: center;
	width: max-content;
}
.stage2-box-images {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(106px, 1fr));
	grid-auto-rows: 116px;
	grid-auto-flow: row;
	gap: 24px;
	margin-bottom: 24px;
}

.stage2-box-btn {
	width: 100%;
	max-width: 114px;
}

/*ADD PRODUCT STAGE 3*/

.add-products-form-stage3  {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
	gap: 24px;
}

.add-products-stage3-box {
	padding: 24px;
	width: 100%;
}

.add-products-stage3-box > h1 {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
	color: #262D2999;
	margin-bottom: 16px;
}

.add-products-textarea > textarea {
	width: 100%;
	height: 155px;
	resize: none;
}

.add-product-checkbox-wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 14px;
	font-weight: 300;
	line-height: 100%;
	color: #262D29CC;
	margin-left: 24px;
	margin-top: 24px;
}

.add-product-checkbox-wrapper:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #262d29;
}


.stage2-colors {
	padding: 4px 18px;
	border-radius: 18px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.stage2-colors img {
	color: #262D29CC;
	font-size: 9px;
	font-weight: 300;
	line-height: 100%;
	width: 8px;
}