.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(279px, 1fr));
	gap: 12px 20px;
}

.card {
	width: 100%;
	border-radius: 32px;
	overflow: hidden;
	border: 1px solid #262D291A;
	transition: all 0.2s ease;
}

.card:hover {
	box-shadow: 0 0 16px 0 #00000029;
	transition: all 0.2s ease;
	transform: scale(1.01);
}

.card-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 80px;
	padding: 24px 24px 0;
}

.card-img {
	padding:  12px 24px 0;
	height: 340px;
	cursor: pointer;
	position: relative;
}

.card-img > img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.card-top-btn {
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all 0.2s ease;
	border: 1px solid #1DBE60;
	border-radius: 50%;
	position: relative;
}

.card-top-btn > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card-bottom {
	border-top: 1px solid #262D291A;
	padding: 24px;
}

.card-bottom > h3 {
	margin-bottom: 18px;
	font-size: 20px;
	line-height: 20px;
	font-weight: 600;
	color: #262D29;
	cursor: pointer;
}

.card-bottom-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.card-bottom-items > p {
	font-size: 32px;
	font-weight: 700;
	line-height: 32px;
	color: #F83427;
	display: flex;
	align-items: flex-start;
	gap: 8px;
}

.card-bottom-items > p > span {
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	color: #F83427;
	text-decoration: line-through;
	opacity: .4;
}

.status-product {
	display: flex;
	align-items: center;
	gap: 4px;
	margin-bottom: 12px;
	position: absolute;
	bottom: 0;
	left: 24px;
}


.status-product > div {
	font-size: 12px;
	font-weight: 400;
	line-height: 100%;
	color: #1DBE60;
	border: 1px solid #1DBE60;
	padding: 8px 16px;
	gap: 4px;
	border-radius: 32px;
	box-shadow: 4px 4px 12px 0 #00000033;
	background: #FFFFFF;
}