


.catalog-banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 320px;
	min-height: 200px;
	height: 100%;
	overflow: hidden;
	border-radius: 32px;
	@media (max-width: 768px) {
		flex-wrap: wrap;
	}
	margin-bottom: 24px;
}

.catalog-banner-content {
	height: 320px;
	max-width: 540px;
	width: 100%;
	background: linear-gradient(110.67deg, #1DBE60 -1.99%, #05A748 106.83%);
	font-weight: 600;
	font-size: calc(36.6px + (32 - 18)*(100vw - 657px) /(1440 - 580));
	line-height: 120%;
	color: white;
	padding: 90px 36px;
	@media (max-width: 768px) {
		padding: 20px 20px;
		max-width: 100%;
		height: auto;
	}
}

.catalog-banner-img > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.catalog-banner-img {
	overflow: hidden;
	max-width: 900px;
	width: 100%;
	height: 320px;
	@media (max-width: 768px) {
		height: 250px;
	}
	@media (max-width: 442px) {
		height: 100px;
	}
}

.catalog-items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 24px;
}

.catalog-items > button:hover{
	background: #1DBE60;
	color: white;
}

.catalog-items-active  {
	background: #1DBE60;
	color: white;
}

.catalog-wrapper-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.catalog-wrapper-header > h1 {
	font-size: 32px;
	font-weight: 600;
	line-height: 32px;
}

.catalog-wrapper-header-btns {
	display: flex;
	gap: 24px;
}

.catalog-wrapper-header-btn {
	color: #262D29;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	opacity: 0.4;
}

.catalog-wrapper-header-btn:hover {
	opacity: 1;
	text-decoration: underline;
}

.catalog-wrapper-header-btn-active {
	opacity: 1;
	text-decoration: underline;
}

.card-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
	gap: 24px;
}